body{
    background-color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.white-bg-qr-code {
    background-color: white;
    border-radius: 10px;
}

#qr-code {
    size: 50%;
}

p {
    color: hsl(212, 45%, 89%);
    text-align: center;
}

h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
}